
.vs/Palleoptimering/FileContentIndex/221a199d-4bf0-43e0-b47a-2abea3ec84bc.vsidx
.vs/Palleoptimering/v17/.futdcache.v2
.vs/Palleoptimering/v17/.suo
.vs/Palleoptimering/v17/.wsuo
.vs/Palleoptimering/v17/DocumentLayout.backup.json
.vs/Palleoptimering/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Palleoptimering/obj/Debug/net8.0/Palleoptimering.AssemblyInfo.cs
Palleoptimering/obj/Debug/net8.0/Palleoptimering.AssemblyInfoInputs.cache
Palleoptimering/obj/Debug/net8.0/Palleoptimering.assets.cache
Palleoptimering/obj/Debug/net8.0/Palleoptimering.csproj.AssemblyReference.cache
Palleoptimering/obj/Debug/net8.0/Palleoptimering.GeneratedMSBuildEditorConfig.editorconfig
Palleoptimering/obj/Release/net8.0/Palleoptimering.AssemblyInfo.cs
Palleoptimering/obj/Release/net8.0/Palleoptimering.AssemblyInfoInputs.cache
Palleoptimering/obj/Release/net8.0/Palleoptimering.assets.cache
Palleoptimering/obj/Release/net8.0/Palleoptimering.GeneratedMSBuildEditorConfig.editorconfig
