
.vs/Palleoptimering/v17/.suo
.vs/Palleoptimering/v17/DocumentLayout.backup.json
.vs/Palleoptimering/v17/.futdcache.v2
.vs/Palleoptimering/v17/.suo
.vs/ProjectEvaluation/palleoptimering.metadata.v9.bin
.vs/ProjectEvaluation/palleoptimering.projects.v9.bin
.vs/ProjectEvaluation/palleoptimering.strings.v9.bin
