<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palle Optimering</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PALLE OPTIMERING</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Order">Ordrer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Home/ListPallets">Paller</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Logout", "User")">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Login", "User")">Login</a>
                        </li>
                    }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page content -->
    <div class="container mt-3">
        <div class="row">
            <!-- Venstre sektion -->
            <div id="Paller" class="col-md-3 d-none d-md-block">
            </div>

            <!-- Højre sektion -->
            <div class="col-md-9">
                @RenderBody() <!-- Hovedindhold -->
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
