
﻿﻿<h4>Velkommen til Palle optimering</h4>
<a class="btn btn-primary" asp-action="ListPallets">Se paller</a>
<a class="btn btn-primary" asp-controller="PalletSettings" asp-action="Index">Indstillinger til pallepakning</a>

